:root {
  --min-screen-height: 1000px;
}
/* center layout */
/* The fr value
indicates that some portion of the available width should be given to the column. */
/* we have four columns, so if each column had exactly
1rem = font-size of root 
equal amounts of the available width, each column's value would be 1fr. But in our
case, each column will be using a different amount of width smaller or greater than
the equal distribution, which is why we have the varying values. */
/* gap: This is a way of adding padding in-between columns and rows. The first entry
indicates the row, while the second indicates the column. */
.App {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: 0.7fr 0.9fr 1.5fr 0.9fr;
  /* Indicates the number and size of rows */
  grid-template-rows: 2.75rem 3fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar leftmenu content rightmenu";
  gap: 0.75rem 0.4rem;
}
.navigation {
  grid-area: nav;
}
.sidebar {
  min-height: var(--min-screen-height);
  grid-area: sidebar;
  background-color: aliceblue;
}
.leftmenu {
  grid-area: leftmenu;
  background-color: skyblue;
}
.content {
  min-height: var(--min-screen-height);
  grid-area: content;
  background-color: blanchedalmond;
}
.rightmenu {
  grid-area: rightmenu;
  background-color: coral;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "content";
  }
}
